<div class ="background-image">
<form method="GET" action="/artist-search">
    <div class="mb-3">
      <label  for="title"></label>
        <input class = "input-search" type="text" name="artistSearch">
    </div>
    <button type="submit" class="btn btn-primary">Search for an artist</button>
</form>
</div>